openai>=1.0.0
requests>=2.31.0
streamlit>=1.33.0
# "AutoGen-agentchat" "AutoGen-ext[openai]"
langgraph==0.3.34
langchain-openai==0.3.14
langchainhub==0.1.21
langchain==0.3.24

langchain-community==0.3.23

